@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Noto+Sans+Display&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(27, 36, 49, 1);
}
li, a, button, h1{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.navbar__links{
    list-style: none;
}
    .navbar__links li{
        display: inline-block;
        padding: 0 20px;
    }
    .navbar__links li a{
        transition: all 0.3s ease 0s;
    }
    .navbar__links li a:hover{
        color: #0088a9;
    }
.logo{
    margin-right: auto;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.logo:hover{
    color: #0088a9;
}

main{
    flex: flex;
}
div{
    /* background-color:rgba(103, 112,119, 1); */
    border: 3px solid gray;
    margin: auto;
    margin-top: 2em;
    width: 900px;
    height: 400px;
    text-align: center;
}

.display{
    margin-top: 140px;
}
.projects{
    list-style: none;
    
}
    .projects li:nth-child(1){
        background-color: rgba(26, 25, 27, 0.5);
        padding: 10px;
        border-radius: 10px;
    }
main ul li{
    display: inline-block;
    padding: 0 15px;
    
}
main ul li a:hover{
    color: #0088a9;
}

Button{
    border: none;
    border-radius: 25px;
    padding: 10px 10px;
    background-color: rgba(0, 136, 169, 1);
    font-size: 25px;
}
Button:hover{
    background-color: rgba(0, 136, 169, 0.5);
    cursor: pointer;
}
h2{
    font-size: 25px;
    background-color: rgba(26, 25, 27, 0.5);
    font-family: 'Noto Sans Display', sans-serif;
    color: white;
    border: none;
    padding: 20px 40px ;
    margin-bottom: 10px;
    border-radius: 30px;
    width: 70%;
    margin: 20px auto;
    letter-spacing: 0.5cap;
    text-align: left;
}