@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Noto+Sans+Display&family=Poppins&display=swap');
main{
    flex: flex;
}
div{
    /* background-color:rgba(103, 112,119, 1); */
    border: 3px solid gray;
    margin: auto;
    margin-top: 2em;
    width: 900px;
    height: 400px;
    text-align: center;
}

.display{
    margin-top: 20px;
}
    .display button:nth-child(3){
        margin: 0 20    px;
    }
.projects{
    list-style: none;
    
}
    .projects li:nth-child(2){
        background-color: rgba(26, 25, 27, 0.5);
        padding: 10px;
        border-radius: 10px;
    }
main ul li{
    display: inline-block;
    padding: 0 15px;
    
}
main ul li a:hover{
    color: #0088a9;
}

Button{
    border: none;
    border-radius: 25px;
    padding: 10px 30px;
    background-color: rgba(0, 136, 169, 1);
    font-size: 25px;
    margin: 0 10px;
}
Button:hover{
    background-color: rgba(0, 136, 169, 0.5);
    cursor: pointer;
}
h2{
    font-size: 150px;
    /* background-color: rgba(26, 25, 27, 0.5); */
    font-family: 'Noto Sans Display', sans-serif;
    color: rgba(232, 232, 232, 0.8);
    border: none;
    margin-bottom: 10px;
    border-radius: 30px;
    text-align: center;
}