@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins&display=swap');

main{
    flex: flex;
}
div{
    border: 3px solid gray;
    text-align: center;
    margin: auto;
    margin-top: 2em;
    width: 900px;
    height: 400px;

}
.projects{
    list-style: none;
}
main ul li{
    display: inline-block;
    padding: 0 15px;
    
}
main ul li a:hover{
    color: #0088a9;
}
